@font-face {
    font-family: "Tungtesn-Bold";
    src: url(../Tungsten-Bold.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


body {
    background-image: url("../IMG/BG.png");
    background-size: cover;
    }

body::-webkit-scrollbar{
    display: none;
    }


/*-------------TITLE--------------*/

h1{
    margin: 10px;
    font-weight: bold;
    margin-left: 30px;
    font-size: 50px;
    color: white;
}
hr{
    border: 0;
    height: 3px;
    width:550PX;
    background: #FFF;
    margin: 15px 0 10px;
}

/*---------CARDS---------*/


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 540px;
    width: 300px;
    margin: 30px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0.63%, rgba(255, 255, 255, 0.1) 100%);
}

.card:hover{
    cursor: pointer;
    transform: translateY(10px);
}

#img{
    position: relative;
    margin: 20px;
    height: 510px;
    width: 550px;
    border-radius: 3px;
    right: 140px;
}


.intro{
    height: 60px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 60px;
    border-radius: 0 0 3px 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0.63%, rgba(255, 255, 255, 0.1) 100%);
    color: white;
}

.card:hover .intro{
    position: relative;
    height: 230px;
    bottom: 230px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0.63%, rgba(255, 255, 255, 0.1) 100%);
}

h2{
    font-weight: bold;
    margin-left: 30px;
    font-size: 30px;
}

span{
    color: rgba(255, 70, 84, 1);
    font-weight: bold;
}

h4{
    font-weight: bold;
    margin-left: 30px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover h4{
    opacity: 1;
    visibility: visible;
}


#img2{
    position: relative;
    width: 17px;
    height: 17px;
}

.card p{
    margin-top: 5px;
    margin-left: 30px;
    visibility: hidden;
    opacity: 0;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

button{
    position: relative;
    margin-left: 200px;
    margin-bottom: 5px;
    padding: 3px;
    color: black;
    background: none;
    border: #ffff;
    cursor: pointer;
    font-size: 14px;
    border-color: white;
    border-radius: 3PX;
    visibility: hidden;
    opacity: 0;

}

button a{
    text-decoration: none;
    color: #FFF;
}

button{
    opacity: 1;
    visibility: visible;
}


