@font-face {
    font-family: "Tungtesn-Bold";
    src: url(../Tungsten-Bold.otf);
}

body{
    height: 100vh;
    font-family:'Poppins', sans-serif;
    background-image: url(../IMG/1253479.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    height: 440px;
    width: 460px;
    display: flex;
    justify-content: center;

}
.loginc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
}
.title{
    font-size: 20px;
    letter-spacing: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center;

}
.input{
    padding-top: 10px;
}
.input-n{
    width: 300px;
    height: 20px;
    margin: 10px;
    display: block;
    background: rgb(226, 241, 255);
    border: 0px;
    border-radius: 12px;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    padding: 6px 6px 6px 20px;
    box-shadow: 0px 2px 2px rgb(166, 166, 166);
}
.input-n::placeholder {
    background-image: url(../IMG/user.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
    padding-left: 20px;
}
.input-e{
    width: 300px;
    height: 20px;
    margin: 10px;
    display: block;
    background: rgb(226, 241, 255);
    border: 0px;
    border-radius: 12px;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    padding: 6px 6px 6px 20px;
    box-shadow: 0px 2px 2px rgb(166, 166, 166);
}
.input-e::placeholder {
    background-image: url(../IMG/correo-electronico-vacio.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
    padding-left: 20px;
}
.input-p{
    width: 300px;
    height: 20px;
    margin: 10px;
    display: block;
    background: rgb(226, 241, 255);
    border: 0px;
    border-radius: 12px;
    font-size: small;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    padding: 6px 6px 6px 20px;
    box-shadow: 0px 2px 2px rgb(166, 166, 166);
}
.input-p::placeholder {
    background-image: url(../IMG/padlock.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left center;
    padding-left: 20px;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.btn{
        width: 100px;
        height: 40px;
        background-color: #ff3d3d;
        color: rgb(255, 255, 255);
        font-size: medium;
        border: 0px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px gray;
}
.write{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto{
    margin: 0%;
    font-size: small;
    color: #555;
}
.account{
    font-size: small;
    text-decoration: none;
    color: black;
}